
.delivery {
  background-image: url(../img/delivery-fon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.delivery-content {
  display: flex;
}
.delivery-content__text {
  flex: 0 0 50%;
}
.block__title {
  text-align: left;
line-height: 1;
}
.delivery__text {
  font-size: 18px;
  color: rgba(61, 49, 55, 0.96);
}
.delivery__btn {
}
.btn {
}
.delivery__img {

}
.catalog__bg-1 {
}
.catalog__bg-2 {
}